fastapi
uvicorn[standard]

sqlalchemy>=2.0
asyncpg
psycopg2-binary

pydantic[email]>=2.0
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-dotenv
alembic

pyotp
twilio
requests
httpx